@use '../../../../styles/vars.css';

.menuItem{
    border: 2px solid var(--box-border-color);
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 1 / 1;
    transition: 0.2s ease-in-out;
    padding: 5px;

    svg path{
        transition: 0.2s ease-in-out;
    }

    // Стили для вложенного меню (ItemSubmenu)
    ul {
        position: absolute;
        top: 100%;            // под кнопкой
        left: 50%;
        transform: translateX(-50%) translateY(-10px); // начальное смещение для анимации
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: all 0.3s ease-in-out;
        z-index: 10;          // чтобы было поверх других элементов
    }

    &:hover ul {
        transform: translateX(-50%) translateY(0); // выезжает вниз
        opacity: 1;
        pointer-events: auto;
    }
}

.analyticsColor:hover{
    border-color: var(--state-color-blue);

    & svg path{
        fill: var(--state-color-blue);
    }
}

.transactionsColor:hover{
    border-color: var(--state-color-red);

    svg path:first-child{
        stroke: var(--state-color-red);
    }

    svg path:last-child{
        stroke: var(--state-color-green);
    }
}

.walletColor:hover{
    border-color: var(--state-color-tan);

    svg path{
        fill: var(--state-color-tan);
    }
}
