# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
build/
dist/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.*

# Editor folders
.vscode/
.idea/

# MacOS files
.DS_Store

# Coverage directories
coverage/
.nyc_output

# Parcel/Vite cache
.cache/
.parcel-cache/

# json-server db (если используешь локальный файл)
db.json

# Optional caches
.npm
.eslintcache
.stylelintcache

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions