@use '../../styles/vars.css';

.itemSubmenu {
    background-color: var(--main-color);
    border: 2px solid var(--box-border-color);
    border-radius: 36px;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 10;

    li {
        border: 2px solid var(--box-border-color);
        background-color: var(--main-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        padding: 5px;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        svg path {
            transition: 0.2s ease-in-out;
        }

        &:hover {
            border-color: var(--state-color-red); 
            svg path:first-child {
                stroke: var(--state-color-red);
            }
            svg path:last-child {
                stroke: var(--state-color-green);
            }
        }
    }

    .menuItem:hover & {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
}