:root{
    --bg-color: #fff;
    --main-color: #eee;
    --box-border-color: #B2B2B2;
    
    --state-color-blue: #324B7F;
    --state-color-green: #58977B;
    --state-color-red: #C96C64;
    --state-color-tan: #D2B48C;
}