.aside{
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li a{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}