@use '../../../styles/vars.css';

.dashboardBox{
    background-color: var(--main-color);
    border: 2px solid var(--box-border-color);
    border-radius: 36px;
    padding: 11px;
}

.walletsListBox{
    position: relative;
    width: 211px; 
    height: 82px; 
    text-align: center;

    &::after{
        content: url('../../../icons/walletsListBg.svg');
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}